In [1]:
#Instalación de librerías
!pip install pandas
!pip install numpy
!pip install seaborn
!pip install matplotlib
!pip install scikit-learn
!pip install scipy
!pip install statsmodels
!pip install imbalanced-learn
!pip install scikit-plot
!pip install graphviz
%pip install pyarrow fastparquet

Requirement already satisfied: pandas in c:\users\andre\appdata\local\programs\python\python311\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in c:\users\andre\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.0.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\andre\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\andre\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\andre\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\andre\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip available: 22.3.1 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: numpy in c:\users\andre\appdata\local\programs\python\python311\lib\site-packages (2.0.0)

[notice] A new release of pip available: 22.3.1 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: seaborn in c:\users\andre\appdata\local\programs\python\python311\lib\site-packages (0.13.2)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in c:\users\andre\appdata\local\programs\python\python311\lib\site-packages (from seaborn) (2.0.0)
Requirement already satisfied: pandas>=1.2 in c:\users\andre\appdata\local\programs\python\python311\lib\site-packages (from seaborn) (2.2.2)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in c:\users\andre\appdata\local\programs\python\python311\lib\site-packages (from seaborn) (3.9.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\andre\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.2.1)
Requirement already satisfied: cycler>=0.10 in c:\users\andre\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\andre\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.53.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\andre\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.5)
Requirement already satisfied: packaging>=20.0 in c:\users\andre\appdata\roaming\python\python311\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.1)
Requirement already satisfied: pillow>=8 in c:\users\andre\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (10.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\andre\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\andre\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\andre\appdata\local\programs\python\python311\lib\site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\andre\appdata\local\programs\python\python311\lib\site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\andre\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.16.0)

[notice] A new release of pip available: 22.3.1 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: matplotlib in c:\users\andre\appdata\local\programs\python\python311\lib\site-packages (3.9.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\andre\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (1.2.1)
Requirement already satisfied: cycler>=0.10 in c:\users\andre\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\andre\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (4.53.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\andre\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (1.4.5)
Requirement already satisfied: numpy>=1.23 in c:\users\andre\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (2.0.0)
Requirement already satisfied: packaging>=20.0 in c:\users\andre\appdata\roaming\python\python311\site-packages (from matplotlib) (24.1)
Requirement already satisfied: pillow>=8 in c:\users\andre\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (10.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\andre\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\andre\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\andre\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)

[notice] A new release of pip available: 22.3.1 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: scikit-learn in c:\users\andre\appdata\local\programs\python\python311\lib\site-packages (1.5.0)
Requirement already satisfied: numpy>=1.19.5 in c:\users\andre\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn) (2.0.0)
Requirement already satisfied: scipy>=1.6.0 in c:\users\andre\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn) (1.13.1)
Requirement already satisfied: joblib>=1.2.0 in c:\users\andre\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\andre\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn) (3.5.0)

[notice] A new release of pip available: 22.3.1 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: scipy in c:\users\andre\appdata\local\programs\python\python311\lib\site-packages (1.13.1)
Requirement already satisfied: numpy<2.3,>=1.22.4 in c:\users\andre\appdata\local\programs\python\python311\lib\site-packages (from scipy) (2.0.0)

[notice] A new release of pip available: 22.3.1 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: statsmodels in c:\users\andre\appdata\local\programs\python\python311\lib\site-packages (0.14.2)
Requirement already satisfied: numpy>=1.22.3 in c:\users\andre\appdata\local\programs\python\python311\lib\site-packages (from statsmodels) (2.0.0)
Requirement already satisfied: scipy!=1.9.2,>=1.8 in c:\users\andre\appdata\local\programs\python\python311\lib\site-packages (from statsmodels) (1.13.1)
Requirement already satisfied: pandas!=2.1.0,>=1.4 in c:\users\andre\appdata\local\programs\python\python311\lib\site-packages (from statsmodels) (2.2.2)
Requirement already satisfied: patsy>=0.5.6 in c:\users\andre\appdata\local\programs\python\python311\lib\site-packages (from statsmodels) (0.5.6)
Requirement already satisfied: packaging>=21.3 in c:\users\andre\appdata\roaming\python\python311\site-packages (from statsmodels) (24.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\andre\appdata\local\programs\python\python311\lib\site-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\andre\appdata\local\programs\python\python311\lib\site-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\andre\appdata\local\programs\python\python311\lib\site-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2024.1)
Requirement already satisfied: six in c:\users\andre\appdata\local\programs\python\python311\lib\site-packages (from patsy>=0.5.6->statsmodels) (1.16.0)

[notice] A new release of pip available: 22.3.1 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: imbalanced-learn in c:\users\andre\appdata\local\programs\python\python311\lib\site-packages (0.12.3)
Requirement already satisfied: numpy>=1.17.3 in c:\users\andre\appdata\local\programs\python\python311\lib\site-packages (from imbalanced-learn) (2.0.0)
Requirement already satisfied: scipy>=1.5.0 in c:\users\andre\appdata\local\programs\python\python311\lib\site-packages (from imbalanced-learn) (1.13.1)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\andre\appdata\local\programs\python\python311\lib\site-packages (from imbalanced-learn) (1.5.0)
Requirement already satisfied: joblib>=1.1.1 in c:\users\andre\appdata\local\programs\python\python311\lib\site-packages (from imbalanced-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\andre\appdata\local\programs\python\python311\lib\site-packages (from imbalanced-learn) (3.5.0)

[notice] A new release of pip available: 22.3.1 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: scikit-plot in c:\users\andre\appdata\local\programs\python\python311\lib\site-packages (0.3.7)
Requirement already satisfied: matplotlib>=1.4.0 in c:\users\andre\appdata\local\programs\python\python311\lib\site-packages (from scikit-plot) (3.9.0)
Requirement already satisfied: scikit-learn>=0.18 in c:\users\andre\appdata\local\programs\python\python311\lib\site-packages (from scikit-plot) (1.5.0)
Requirement already satisfied: scipy>=0.9 in c:\users\andre\appdata\local\programs\python\python311\lib\site-packages (from scikit-plot) (1.13.1)
Requirement already satisfied: joblib>=0.10 in c:\users\andre\appdata\local\programs\python\python311\lib\site-packages (from scikit-plot) (1.4.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\andre\appdata\local\programs\python\python311\lib\site-packages (from matplotlib>=1.4.0->scikit-plot) (1.2.1)
Requirement already satisfied: cycler>=0.10 in c:\users\andre\appdata\local\programs\python\python311\lib\site-packages (from matplotlib>=1.4.0->scikit-plot) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\andre\appdata\local\programs\python\python311\lib\site-packages (from matplotlib>=1.4.0->scikit-plot) (4.53.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\andre\appdata\local\programs\python\python311\lib\site-packages (from matplotlib>=1.4.0->scikit-plot) (1.4.5)
Requirement already satisfied: numpy>=1.23 in c:\users\andre\appdata\local\programs\python\python311\lib\site-packages (from matplotlib>=1.4.0->scikit-plot) (2.0.0)
Requirement already satisfied: packaging>=20.0 in c:\users\andre\appdata\roaming\python\python311\site-packages (from matplotlib>=1.4.0->scikit-plot) (24.1)
Requirement already satisfied: pillow>=8 in c:\users\andre\appdata\local\programs\python\python311\lib\site-packages (from matplotlib>=1.4.0->scikit-plot) (10.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\andre\appdata\local\programs\python\python311\lib\site-packages (from matplotlib>=1.4.0->scikit-plot) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\andre\appdata\local\programs\python\python311\lib\site-packages (from matplotlib>=1.4.0->scikit-plot) (2.9.0.post0)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\andre\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn>=0.18->scikit-plot) (3.5.0)
Requirement already satisfied: six>=1.5 in c:\users\andre\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.7->matplotlib>=1.4.0->scikit-plot) (1.16.0)

[notice] A new release of pip available: 22.3.1 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: graphviz in c:\users\andre\appdata\local\programs\python\python311\lib\site-packages (0.20.3)

[notice] A new release of pip available: 22.3.1 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: pyarrow in c:\users\andre\appdata\local\programs\python\python311\lib\site-packages (16.1.0)
Requirement already satisfied: fastparquet in c:\users\andre\appdata\local\programs\python\python311\lib\site-packages (2024.5.0)
Requirement already satisfied: numpy>=1.16.6 in c:\users\andre\appdata\local\programs\python\python311\lib\site-packages (from pyarrow) (2.0.0)
Requirement already satisfied: pandas>=1.5.0 in c:\users\andre\appdata\local\programs\python\python311\lib\site-packages (from fastparquet) (2.2.2)
Requirement already satisfied: cramjam>=2.3 in c:\users\andre\appdata\local\programs\python\python311\lib\site-packages (from fastparquet) (2.8.3)
Requirement already satisfied: fsspec in c:\users\andre\appdata\local\programs\python\python311\lib\site-packages (from fastparquet) (2024.6.1)
Requirement already satisfied: packaging in c:\users\andre\appdata\roaming\python\python311\site-packages (from fastparquet) (24.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\andre\appdata\local\programs\python\python311\lib\site-packages (from pandas>=1.5.0->fastparquet) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\andre\appdata\local\programs\python\python311\lib\site-packages (from pandas>=1.5.0->fastparquet) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\andre\appdata\local\programs\python\python311\lib\site-packages (from pandas>=1.5.0->fastparquet) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\andre\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.8.2->pandas>=1.5.0->fastparquet) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3.1 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [1]:
#Datos
import pandas as pd
import numpy as np

#Graficar
import seaborn as sns
import matplotlib.pyplot as plt
#import matplotlib
#import matplotlib.patches as patches


# Generador de tablas de contingencia
from pandas import crosstab
from sklearn.metrics import mutual_info_score

#Test chi-cuadrado
from scipy.stats import chi2_contingency

#Imputación
from sklearn.impute import SimpleImputer
#from sklearn.impute import KNNImputer


#QQ
import statsmodels.api as sm
#Shapiro
from scipy import stats

#Escalamiento
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
#from sklearn.preprocessing import RobustScaler

#Transformación numérica
#from sklearn.preprocessing import LabelEncoder

#K-means
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score

#Outliers
from sklearn.neighbors import LocalOutlierFactor
from scipy.special import entr #Entropía

#Balanceo
from imblearn.over_sampling import SMOTE
from imblearn.over_sampling import RandomOverSampler

#Advertencias
import warnings

#Separación train-test
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_validate
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import cross_val_predict
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import ParameterGrid

#Modelos
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn import svm
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import ComplementNB
from sklearn import neighbors
from sklearn import tree
from sklearn.neural_network import MLPClassifier
from sklearn.tree import plot_tree
import graphviz
#from sklearn.tree import export_graphviz
#from sklearn.naive_bayes import CategoricalNB

#Métricas
from sklearn import metrics
from sklearn.metrics import precision_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import f1_score
from sklearn.metrics import roc_auc_score
from sklearn.metrics import roc_curve
from sklearn.metrics import recall_score
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
#from sklearn.metrics import calinski_harabasz_score
#from sklearn.metrics import davies_bouldin_score
#from sklearn.metrics import pairwise_distances

from datetime import datetime, time

#Otros

#import io
#import requests
#from sklearn.model_selection import RepeatedKFold
#from sklearn.inspection import permutation_importance
#from sklearn import datasets
#from sklearn.random_projection import johnson_lindenstrauss_min_dim, GaussianRandomProjection, SparseRandomProjection
#from sklearn.decomposition import PCA
#from sklearn.decomposition import KernelPCA
#from sklearn.datasets import make_classification
#from scipy import special
#from scipy.stats import spearmanr
#from scipy.spatial.distance import euclidean
#from collections import defaultdict
#from yellowbrick.cluster import KElbowVisualizer
#from validclust.indices import dunn
#from ds_utils.unsupervised import plot_cluster_cardinality, plot_cluster_magnitude, plot_magnitude_vs_cardinality

import os

In [2]:
#Lectura de datos desde vsc
mtdataset = pd.read_csv('../data/raw/ventas-por-factura.csv')

In [4]:
mtdataset[mtdataset['ID Cliente']==12348]

,N° de factura,Fecha de factura,ID Cliente,País,Cantidad,Monto
7952,539318,12/16/2020 19:09:00,12348.0,Finland,1254,"892,80"
13338,541998,1/25/2021 10:42:00,12348.0,Finland,601,"227,44"
24096,568172,9/25/2021 13:13:00,12348.0,Finland,217,"310,00"
24669,548955,4/5/2021 10:47:00,12348.0,Finland,269,"367,00"

In [5]:
mtdataset['Fecha de factura'].max()

'9/9/2021 9:52:00'

In [6]:
mtdataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25953 entries, 0 to 25952
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   N° de factura     25953 non-null  object
 1   Fecha de factura  25953 non-null  object
 2   ID Cliente        22229 non-null  float64
 3   País              25953 non-null  object
 4   Cantidad          25953 non-null  int64
 5   Monto             25953 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 1.2+ MB

In [7]:
mtdataset['Monto'] = mtdataset['Monto'].str.replace(',', '.').astype(float)

In [8]:
mtdataset['Fecha de factura'] = pd.to_datetime(mtdataset['Fecha de factura'], format='%m/%d/%Y %H:%M:%S', dayfirst=True)

In [9]:
mtdataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25953 entries, 0 to 25952
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   N° de factura     25953 non-null  object
 1   Fecha de factura  25953 non-null  datetime64[ns]
 2   ID Cliente        22229 non-null  float64
 3   País              25953 non-null  object
 4   Cantidad          25953 non-null  int64
 5   Monto             25953 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(1), object(2)
memory usage: 1.2+ MB

In [10]:
mtdataset['Fecha de factura'].max()

Timestamp('2021-12-09 12:50:00')

In [11]:
for i in mtdataset['Monto']:
    mtdataset=float(i)

In [7]:
#Buscamos duplicados
mtdataset.loc[mtdataset.duplicated()]

,N° de factura,Fecha de factura,ID Cliente,País,Cantidad,Monto
7626,568403,2021-09-27 10:35:00,NaN,United Kingdom,-3,0.00
9728,C581390,2021-12-08 13:13:00,13081.0,United Kingdom,-13,-15.85
11263,568417,2021-09-27 11:10:00,14911.0,EIRE,202,776.30
12533,C581384,2021-12-08 13:06:00,17673.0,United Kingdom,-2,-6.90
13011,568423,2021-09-27 11:24:00,17061.0,United Kingdom,118,573.40
13054,568387,2021-09-27 10:04:00,13704.0,United Kingdom,340,422.32
15861,568384,2021-09-27 09:46:00,12748.0,United Kingdom,1,0.00
18795,C581323,2021-12-08 11:53:00,14442.0,Channel Islands,-1,-4.25
22578,C581330,2021-12-08 11:57:00,15877.0,United Kingdom,-125,-52.50
25704,568404,2021-09-27 10:36:00,NaN,United Kingdom,-17,0.00

In [8]:
mtdataset.drop_duplicates(inplace=True)

In [9]:
mtdataset.loc[mtdataset.duplicated()]

Empty DataFrame
Columns: [N° de factura, Fecha de factura, ID Cliente, País, Cantidad, Monto]
Index: []

In [10]:
mtdataset=mtdataset.dropna()

In [11]:
mtdataset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 22221 entries, 0 to 25951
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   N° de factura     22221 non-null  object
 1   Fecha de factura  22221 non-null  datetime64[ns]
 2   ID Cliente        22221 non-null  float64
 3   País              22221 non-null  object
 4   Cantidad          22221 non-null  int64
 5   Monto             22221 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(1), object(2)
memory usage: 1.2+ MB

In [12]:
mtdataset[mtdataset['Monto']==0]

,N° de factura,Fecha de factura,ID Cliente,País,Cantidad,Monto
3668,564651,2021-08-26 14:19:00,14646.0,Netherlands,576,0.0
4752,543599,2021-02-10 13:08:00,17560.0,United Kingdom,16,0.0
12491,578841,2021-11-25 15:57:00,13256.0,United Kingdom,12540,0.0
15195,568384,2021-09-27 09:46:00,12748.0,United Kingdom,1,0.0

In [13]:
mtdataset=mtdataset[mtdataset['Monto']!=0]

In [16]:
mtdataset[mtdataset['Monto']>0]

,N° de factura,Fecha de factura,ID Cliente,País,Cantidad,Monto
0,548370,2021-03-30 16:14:00,15528.0,United Kingdom,123,229.33
1,575767,2021-11-11 11:11:00,17348.0,United Kingdom,163,209.73
3,549106,2021-04-06 12:08:00,17045.0,United Kingdom,1,39.95
4,573112,2021-10-27 15:33:00,16416.0,United Kingdom,357,344.83
5,576630,2021-11-16 08:38:00,13816.0,Germany,91,199.98
...,...,...,...,...,...,...
25945,579252,2021-11-28 16:47:00,17450.0,United Kingdom,432,1034.40
25946,574908,2021-11-07 15:37:00,16009.0,United Kingdom,28,82.76
25949,553060,2021-05-13 10:44:00,15826.0,United Kingdom,488,720.00
25950,577049,2021-11-17 13:58:00,17397.0,United Kingdom,104,298.78
25951,550122,2021-04-14 12:39:00,12931.0,United Kingdom,1176,1488.00

In [17]:
mtdataset=mtdataset[mtdataset['Monto']>0]

In [18]:
mtdataset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 18562 entries, 0 to 25951
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   N° de factura     18562 non-null  object
 1   Fecha de factura  18562 non-null  datetime64[ns]
 2   ID Cliente        18562 non-null  float64
 3   País              18562 non-null  object
 4   Cantidad          18562 non-null  int64
 5   Monto             18562 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(1), object(2)
memory usage: 1015.1+ KB

In [21]:
mtdataset[mtdataset['Cantidad']<0]

Empty DataFrame
Columns: [N° de factura, Fecha de factura, ID Cliente, País, Cantidad, Monto]
Index: []

In [22]:
mtdataset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 18562 entries, 0 to 25951
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   N° de factura     18562 non-null  object
 1   Fecha de factura  18562 non-null  datetime64[ns]
 2   ID Cliente        18562 non-null  float64
 3   País              18562 non-null  object
 4   Cantidad          18562 non-null  int64
 5   Monto             18562 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(1), object(2)
memory usage: 1015.1+ KB

In [23]:
#En busca de calidad en los datos
for i in mtdataset.columns:
    print(mtdataset[i].value_counts(), "\n", "\n")

N° de factura
554116    2
553556    2
576057    2
543777    2
546986    2
         ..
562220    1
562002    1
538010    1
579089    1
575767    1
Name: count, Length: 18532, dtype: int64


Fecha de factura
2021-05-26 14:09:00    4
2021-10-21 14:41:00    4
2021-08-04 12:14:00    3
2021-10-20 14:33:00    3
2021-10-26 13:31:00    3
                      ..
2021-11-10 11:06:00    1
2021-09-06 10:42:00    1
2021-08-03 14:19:00    1
2021-08-01 13:48:00    1
2020-12-09 12:20:00    1
Name: count, Length: 17282, dtype: int64


ID Cliente
12748.0    210
14911.0    202
17841.0    124
13089.0     97
14606.0     95
          ...
12425.0      1
13485.0      1
16222.0      1
14212.0      1
14349.0      1
Name: count, Length: 4338, dtype: int64


País
United Kingdom          16673
Germany                   457
France                    390
EIRE                      261
Belgium                    98
Netherlands                94
Spain                      90
Australia                  57
Portugal                   57
Switzerland                51
Finland                    41
Italy                      38
Sweden                     36
Norway                     36
Channel Islands            26
Japan                      20
Poland                     19
Denmark                    18
Austria                    17
Cyprus                     16
Unspecified                 8
Iceland                     7
Singapore                   7
Canada                      6
Israel                      5
Greece                      5
USA                         5
Malta                       5
European Community          4
Lithuania                   4
United Arab Emirates        3
Czech Republic              2
Bahrain                     2
Lebanon                     1
Brazil                      1
RSA                         1
Saudi Arabia                1
Name: count, dtype: int64


Cantidad
1       194
12      190
24      185
48      151
72      136
       ...
760       1
596       1
529       1
1325      1
1196      1
Name: count, Length: 1393, dtype: int64


Monto
15.00     57
30.00     22
17.40     21
102.00    21
22.20     17
          ..
199.98     1
321.35     1
91.68      1
530.15     1
132.90     1
Name: count, Length: 14742, dtype: int64

In [24]:
mtdataset[mtdataset['Cantidad']==-1]

Empty DataFrame
Columns: [N° de factura, Fecha de factura, ID Cliente, País, Cantidad, Monto]
Index: []

In [25]:
a=mtdataset[(mtdataset['Cantidad'] < 0) & (mtdataset['Monto'] < 0)]
a

Empty DataFrame
Columns: [N° de factura, Fecha de factura, ID Cliente, País, Cantidad, Monto]
Index: []

In [26]:
for i in a.columns:
    print(a[i].value_counts(), "\n", "\n")

Series([], Name: count, dtype: int64)


Series([], Name: count, dtype: int64)


Series([], Name: count, dtype: int64)


Series([], Name: count, dtype: int64)


Series([], Name: count, dtype: int64)


Series([], Name: count, dtype: int64)

In [27]:
a['ID Cliente'].value_counts()

Series([], Name: count, dtype: int64)

In [28]:
mtdataset.isnull().sum()

N° de factura       0
Fecha de factura    0
ID Cliente          0
País                0
Cantidad            0
Monto               0
dtype: int64

In [29]:
mtdatasetnull=mtdataset[mtdataset.isnull().any(axis=1)]

In [30]:
mtdatasetnull

Empty DataFrame
Columns: [N° de factura, Fecha de factura, ID Cliente, País, Cantidad, Monto]
Index: []

In [31]:
mtdataset_cantidad=len(mtdataset[mtdataset['Cantidad'] < 0])
mtdataset_cantidad

0

In [32]:
mtdataset_monto=len(mtdataset[mtdataset['Monto'] < 0])
mtdataset_monto

0

In [33]:
a[a['Monto']<0]

Empty DataFrame
Columns: [N° de factura, Fecha de factura, ID Cliente, País, Cantidad, Monto]
Index: []

In [34]:
mtdataset.to_parquet('../data/processed/preprocesamiento_mtdataset.parquet')