In [1]:
import pandas as pd
from datetime import datetime, time
import numpy as np

In [2]:
import sys
import os
sys.path.append(os.path.abspath('../scripts'))

In [3]:
from dataraw1 import DateFormat

In [5]:
mtdataset = pd.read_csv('../data/raw/ventas-por-factura.csv')

In [6]:
data=DateFormat('Monto', mtdataset, 'Fecha de factura')

In [7]:
mtdataset=data.ejec_dateformat()

In [8]:
mtdataset

,N° de factura,Fecha de factura,ID Cliente,País,Cantidad,Monto
0,548370,2021-03-30 16:14:00,15528.0,United Kingdom,123,229.33
1,575767,2021-11-11 11:11:00,17348.0,United Kingdom,163,209.73
2,549106,2021-04-06 12:08:00,17045.0,United Kingdom,1,39.95
3,573112,2021-10-27 15:33:00,16416.0,United Kingdom,357,344.83
4,576630,2021-11-16 08:38:00,13816.0,Germany,91,199.98
...,...,...,...,...,...,...
18557,579252,2021-11-28 16:47:00,17450.0,United Kingdom,432,1034.40
18558,574908,2021-11-07 15:37:00,16009.0,United Kingdom,28,82.76
18559,553060,2021-05-13 10:44:00,15826.0,United Kingdom,488,720.00
18560,577049,2021-11-17 13:58:00,17397.0,United Kingdom,104,298.78
18561,550122,2021-04-14 12:39:00,12931.0,United Kingdom,1176,1488.00

In [12]:
from group_by1 import Group_By

ImportError: cannot import name 'Group_By' from 'group_by1' (c:\Users\andre\Microtargeting\scripts\group_by1.py)

In [ ]:
data2=Group_By('Monto', mtdataset, 'Fecha de factura', 'ID Cliente', 'Cantidad', 'Fecha de factura', 'N° de factura')

In [ ]:
mtdataset_groupby=data.ejec_group_by()

In [ ]:
mtdataset_groupby